# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=BlockidCoin Core Daemon SNAP
Comment=main
GenericName=BlockidCoin Digital Currency Daemon Client main network
Exec=blockidcoin-core.daemon %u
Terminal=true
Type=Application
Icon=${SNAP}/share/pixmaps/blockidcoin.png
MimeType=x-scheme-handler/piv;
Categories=X-Office;X-Finance;
Keywords=internet;blockidcoin;zpiv;core;wallet;daemon;main;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
